{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4 text-center text-gray-700">Bienvenido, {{ current_user.username }}</h1>

<div class="text-center space-x-4">
    <a href="{{ url_for('usuarios') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition">Ver Usuarios</a>
    <a href="{{ url_for('logout') }}" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition">Cerrar Sesión</a>
</div>
{% endblock %}